.todoList{ 
    list-style-type: none;

    & > li{
        padding:16px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    & > li.finished {

        color: #ccc;
        text-decoration: line-through;

    }
}